body {
	background-color: #2a2a2a;
	color: white;
	margin: 0 30px 20px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}

a {
	color: white;
    text-decoration: none;
}

a:hover {
	font-style: italic;
}

.header {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.links {
	display: flex;
    justify-content: space-between;
    width: 460px;
    list-style: none;
    padding: 0;
}

.links .current {
	font-weight: 900;
}

.inline-link {
	text-decoration: underline;
}

.inline-link:hover {
	font-style: normal;
}

.content-header {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header .subheading {
	margin-top: 0;
	font-weight: initial;
	font-style: italic;
}

#name-content {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name-container {
	display: flex;
	justify-content: center;
}

#name {
	border: 5px solid white;
    padding: 20px 20px 20px 42px;
    font-size: 42px;
    letter-spacing: 20px;
    text-align: center;
}

#about-container {
	padding: 0 60px;
	font-size: 24px;
}

#about-container p span {
	font-weight: 700;
}

#education-container {
	padding: 20px 60px;
}

.school {
	padding-bottom: 20px;
	font-size: 20px;
}

.school p {
	margin: 0;
}

.school span {
	font-weight: 700;
}

.school .program {
	font-style: italic;
}

#project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 30px;
}

.project {
	border: 5px solid white;
	width: 40%;
	height: 100px;
}

.project:hover {
	background-color: #b5b5b5;
}

.project .inner-project-container {
	height: 100%;
	margin: 10px;
}

#about-content, #resume-content {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#resume-header {
	padding-top: 150px;
}*/

#resume-container {
	display: flex;
	justify-content: center;
}

#resume {
	border: 5px solid white;
	padding: 8px;
	margin: 0;
}

#resume a div {
	height: 100%;
	width: 100%;
}

.project-paragraph-container {
	margin: 40px 0;
	font-size: 16px;
	font-family: 'Avenir Next', sans-serif;
	text-transform: none;
}

.black-paragraph {
	background-color: #0c0c0c;
    padding: 50px 60px;
    font-size: 32px;
    font-style: italic;
}

.project-paragraph-caption {
	font-size: 16px;
	font-family: 'Avenir Next', sans-serif;
	text-transform: none;
	font-style: italic;
}

.project-paragraph-centered {
	text-align: center;
}

.old-and-new {
	display: flex;
	justify-content: space-between;
}

.old-and-new-content-container {
	width: 48%;
	text-align: center;
	font-size: 16px;
}

.old-and-new-heading {
	margin-bottom: 10px;
}

.project-paragraph-step {
	text-align: center;
	margin-bottom: 0;
	font-family: 'Roboto Slab', serif;
}

.project-paragraph-image-container {
	margin-bottom: 10px;
}

.project-paragraph-image {
	width: 100%;
}

.old-image, .new-image {
	width: 100%;
}

.project-video-container video {
	width: 100%;
}

.project-video-container-two {
	text-align: center;
}

.project-video-container-two video {
	width: 50%;
}

.project-mobile-container {
	/*width: 30%;*/
}

/*.project-mobile-image-container {
	width: 30%;
}*/

.project-mobile-image-inner-container {
	display: flex;
	justify-content: center;
	align-items: start;
}

.project-mobile-image-inner-container img {
	width: 20%;
}

.project-mobile-image-left {
	margin-right: 20px;
}

.project-4k-image-container {
	width: 80%;
	margin: 0 auto;
}

.project-footer {
	height: 50px;
}

.brown-cs-site-container {
	display: flex;
	justify-content: center;
}

.brown-cs-site-container a {
	width: 16%;
	margin-left: 5px;
	text-align: center;
	font-size: 16px;
}

.brown-cs-site-container a:hover {
	font-style: initial;
}

.brown-cs-site-container a span {
	margin-bottom: 5px;
	display: inline-block;
}

.fixers-lo-container {
	margin-bottom: 0;
}

.fixers-lo-caption-container {
	margin-top: 0;
	margin-bottom: 50px;
}

.fixers-1-container {
	text-align: center;
}
.fixers-1-container div {
	width: 40%;
	display: inline-block;
}
.fixers-1-container img {
	width: 100%;
}

.fixers-2-container {
	display: flex;
	justify-content: space-between;
}

.fixers-2-container div {
	width: 32%;
}

.fixers-2-container img {
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 10%;
}

.fixers-3-container {
	text-align: center;
}

.fixers-3-container div {
	width: 40%;
	display: inline-block;
}

.fixers-3-container div img {
	width: 100%;
}

.fixers-hi-fi-container {
	text-align: center;
}

.fixers-hi-fi-container img {
	width: 80%;
}

/* Media queries: */

@media(max-width: 240px) {
	.project {
		height: initial;
		font-size: 12px;
		border: none;
	}

	.project:hover {
		background-color: transparent;
	}
}

@media(max-width: 370px) {

	#name {
		border: none;
	}

	#about-container {
		padding: 0;
		font-size: 12px;
	}

	#education-container {
		padding: 0;
	}

	.school {
		font-size: 12px;
	}
}
 
@media(max-width: 400px) {

	.project {
		width: 80%;
	}
}

@media (max-width: 500px) {

	#name {
		font-size: 24px;
	}

}
 
@media (max-width: 640px) { 

	.header {
		height: 200px;
		justify-content: center;
	}

	.links {
		flex-direction: column;
		align-items: center;
    	padding: 0;
	}

	#about-container {
		font-size: 16px;
		padding: 0;
	}

	.school {
		font-size: 16px;
	}

}

@media (max-height: 540px) { 

	#name-content {
		padding-top: 30px;
	}

	#name-content, #resume-content {
		position: static;
		transform: none;
	}
	
}